[Unit]
Description=Contract Management FastAPI Application
After=network.target postgresql.service

[Service]
User=deployer
Group=deployer
WorkingDirectory=/home/deployer/contract-management/backend
ExecStart=/home/deployer/contract-management/backend/venv/bin/gunicorn app.main:app -w 4 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:8000
Restart=always
RestartSec=5
# Окружение
Environment="PATH=/home/deployer/contract-management/backend/venv/bin"
# Журналирование
StandardOutput=journal
StandardError=journal
SyslogIdentifier=contract-api

[Install]
WantedBy=multi-user.target